### data type

In [3]:
a <- 32
b <- "GIS"
c <- 0.5
class(a)
class(b)
class(c)
is.numeric(a)
is.numeric(b)
is.numeric(c)

[1] "numeric"

[1] "character"

[1] "numeric"

[1] TRUE

[1] FALSE

[1] TRUE

### working with date

In [4]:
name <- "Binghamton University"
nchar(name)

[1] 21

In [7]:
nchar("name")

[1] 4

In [9]:
date1 <- as.Date("2015-11-25")
date2 <- ("2015-11-25")
class(date1)
class(date2)

[1] "Date"

[1] "character"

### logical operators

In [17]:
5 == 7
5 == 5
12 != 14
12 != 12
45 < 83
7 >= 7

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

[1] TRUE

[1] TRUE

In [18]:
"GIS" == "Remote Sensing"
"GIS" == "GIS"

[1] FALSE

[1] TRUE

### vectors

In [21]:
b1 <- c(1,2,3,4,5)
b2 <- c("GIS","Human", "Physical")
b1
b2

[1] 1 2 3 4 5

[1] "GIS"      "Human"    "Physical"

In [24]:
b1 * 2
b1 ^ 3

[1]  2  4  6  8 10

[1]   1   8  27  64 125

In [25]:
sqrt(b1)

[1] 1.000000 1.414214 1.732051 2.000000 2.236068

In [30]:
arr1 <- 1:10
arr2 <- -3:-12
arr1
arr2

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  -3  -4  -5  -6  -7  -8  -9 -10 -11 -12

In [33]:
a <- 1:3
b <- 7:9
a
b
a + b
a * b

[1] 1 2 3

[1] 7 8 9

[1]  8 10 12

[1]  7 16 27

In [32]:
length(a)
length(b)

[1] 3

[1] 3

### getting specific items from a vector

In [35]:
a <- 1:5
b <- 1:3
a
b
a + b

[1] 1 2 3 4 5

[1] 1 2 3

Warning message:
In a + b: longer object length is not a multiple of shorter object length

[1] 2 4 6 5 7

In [37]:
a <- 1:10
a < 5
any(a<5)
all(a<5)

 [1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE

[1] TRUE

[1] FALSE

In [42]:
arr <- 50:60
arr
arr[3]
arr[1:5]

 [1] 50 51 52 53 54 55 56 57 58 59 60

[1] 52

[1] 50 51 52 53 54

### data frame

In [44]:
id <- 1:15
age <- c(18,13,66,32,3,43,54,656,87,323,7,2,9,34,65)
name <-c("bucky","tom","bobby","henry","emily","baby","hannah","joe","cathy","sandY","lesley","emma","ann","old dan","eric")

In [46]:
x <- data.frame(id,age,name)
x

   id age    name
1   1  18   bucky
2   2  13     tom
3   3  66   bobby
4   4  32   henry
5   5   3   emily
6   6  43    baby
7   7  54  hannah
8   8 656     joe
9   9  87   cathy
10 10 323   sandY
11 11   7  lesley
12 12   2    emma
13 13   9     ann
14 14  34 old dan
15 15  65    eric